html
    head
        title JavaScript
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")

    body.container
        h2 Login
        p Please Login to start your session
        span= message

        form(method="POST").form-group
            label(for="username") Username
            input(type="text",placeholder="username here",name="username").form-control
            label(for="password") Password
            input(type="password",placeholder="password",name="password").form-control
            br
            input(type="submit",value="login").btn-primary

        p Dont have an account? 
            span Register 
                a(href="/auth/register") Here

        