html
    head
        title JavaScript
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")

    body.container
        h2 Register
        p Please Register to start your session

        form(method="POST").form-group
            label(for="name") name
            input(type="text",placeholder="name here",name="name").form-control
            label(for="email") email
            input(type="text",placeholder="email",name="email").form-control
            label(for="address") address
            input(type="text",placeholder="address here",name="address").form-control
            label(for="phoneNumber") phoneNumber
            input(type="number",placeholder="phoneNumber",name="phoneNumber").form-control
            label(for="username") Username
            input(type="text",placeholder="username here",name="username").form-control
            label(for="password") Password
            input(type="password",placeholder="password",name="password").form-control
            br
            input(type="submit",value="submit").btn-primary

        p Already Registered? 
            span back to 
                a(href="/auth") Login

        